.window {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px); /* Calcula el ancho como el 100% del ancho menos 40px de margen */
  max-width: 450px; /* Establece un ancho máximo para el menú */
  background-color: rgb(10, 161, 199);
  border-radius: 30px;
  backdrop-filter: blur(10px);
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta la sombra y ajusta la posición vertical */
  z-index: 1000;
  display: flex; /* Cambia el diseño a flexbox */
  flex-direction: row; /* Establece la dirección de los elementos como horizontal */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  animation: fadeInUp 0.5s ease forwards; /* Agrega una animación al cargar */
  font-size: 16;
  }
  
  .menu-container button {
   background-color: rgb(10, 161, 199);
    font-size: 20px;
    font-style: bold;
    border-style: hidden;
    color: white;
    padding: 5px 10px;
  }

  .menu-container button:hover{
    background-color: rgb(142, 216, 235);
     border-style: hidden;
   }
