@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.profile {
  position: fixed;
  top: 0px;
  right: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  padding: 19px;
  border-radius: 10px;
  transition: all 0.3s ease;
  z-index: 999;
  background-color: transparent; /* Color transparente por defecto */
}

.avatar-wrapper {
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: 100px; /* Ajusta el tamaño según tus necesidades */
    border-radius: 50%; /* Hace que el contenedor sea un círculo */
    overflow: hidden; /* Oculta cualquier parte de la imagen que se salga del contenedor */
}

.avatar-wrapper img {
    width: 100%; /* Asegura que la imagen ocupe todo el espacio disponible en el contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción de la imagen */
}


.profile.expanded {
  width: 250px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.637); /* Color de fondo con transparencia */
  backdrop-filter: blur(10px); /* Aplica un efecto de desenfoque al fondo */
  -webkit-backdrop-filter: blur(10px); /* Para navegadores webkit como Safari */
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgba(1, 49, 49, 0.616); /* Borde con transparencia */
  border-radius: 10px; /* Borde redondeado */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra */
}

.avatar {
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ffffff; /* Color de fondo por defecto */
}

/* Cambia el color del icono cuando se pasa el cursor sobre él */
.avatar:hover {
  background-color: #ddd; /* Color de fondo cuando se pasa el cursor sobre él */
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.body p {
  margin: 5px 0;
}

.username {
  font-weight: bold;
  font-size: 13px;
  margin-top: 10px;
}

.role {
  font-style: italic;
  font-size: 14px;
  color: #13a79a;
}

/* Cambios en el tamaño del avatar al hacer hover */
.avatar:hover {
  transform: scale(1.1);
}
