/* Estilos para pantallas pequeñas (iPhone 12) */
@media only screen and (max-width: 428px) {
    .LoginWapper {
        width: 90%; /* Utilizar el ancho completo del dispositivo */
        max-width: 400px; /* Ancho máximo para evitar que se vea demasiado grande */
        margin: 0 auto; /* Centrar el formulario en la pantalla */
        padding: 20px; /* Reducir el espacio interior del formulario */
        box-shadow: none; /* Eliminar la sombra para un aspecto más limpio */
        border-radius: 0; /* Eliminar el borde redondeado */
    }

    .LoginWapper h1 {
        font-size: 24px; /* Reducir el tamaño del título */
    }

    .input-box {
        margin: 15px 0; /* Reducir el espacio entre los elementos de entrada */
    }

    .input-box input {
        padding: 15px; /* Reducir el espacio interior de los elementos de entrada */
        font-size: 14px; /* Reducir el tamaño del texto en los elementos de entrada */
    }

    .LoginWapper button {
        height: 40px; /* Reducir la altura del botón */
        font-size: 14px; /* Reducir el tamaño del texto en el botón */
    }

    .register-link {
        margin: 15px 0; /* Reducir el espacio entre el formulario y el enlace de registro */
    }

    .register-link p a {
        font-size: 14px; /* Reducir el tamaño del texto en el enlace de registro */
    }
}
