/* SymptomSelector.css */

/* Estilo del contenedor principal del selector de síntomas */
.symptom-selector {
    position: fixed;
    top: 47%;
    left: 69%;
    transform: translate(-50%, -50%);
    padding: 18px;
    background-color: rgba(7, 105, 170, 0.993); /* Color de fondo semi-transparente */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(13, 126, 255, 0.219); /* Sombra ligera */
    text-align: center;
}

/* Estilo del contenedor de las burbujas de síntomas */
.symptom-bubbles {
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

/* Estilo de cada burbuja de síntoma */
/* Estilo de cada burbuja de síntoma */
.symptom-bubble {
    padding: 8px 16px; /* Reducir el padding para hacer la burbuja más pequeña */
    margin: 0 8px; /* Reducir el margen entre burbujas */
    border-radius: 16px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre la burbuja */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave del color de fondo y sombra */
    background-color: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
    box-shadow: 0 8px 24px 0 rgba(31, 38, 135, 0.37); /* Sombra */
    font-size: 12px; /* Tamaño de la fuente más pequeño */
    font-weight: bold; /* Texto en negrita */
    text-transform: uppercase; /* Convertir texto a mayúsculas */
}

/* Estilo cuando una burbuja de síntoma está seleccionada */
.symptom-bubble.selected {
    background-color: #022b35; /* Color de fondo cuando está seleccionada */
    color: rgb(255, 255, 255); /* Color del texto cuando está seleccionada */
}


/* Estilo cuando se pasa el cursor sobre una burbuja de síntoma */
.symptom-bubble:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Color de fondo semi-transparente al pasar el cursor */
}



/* Estilo del botón de inicio */
button {
    margin-top: 20px; /* Margen superior */
    padding: 10px 20px; /* Padding interno */
    border: none; /* Sin borde */
    background-color: #3f9dd7; /* Color de fondo */
    color: white; /* Color del texto */
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

/* Estilo cuando se pasa el cursor sobre el botón de inicio */
button:hover {
    background-color: #2b7aa5; /* Color de fondo al pasar el cursor */
}

/* Estilo cuando el botón de inicio está deshabilitado */
button:disabled {
    background-color: #ccc; /* Color de fondo cuando está deshabilitado */
    cursor: not-allowed; /* Cursor no disponible */
}
